* {
  box-sizing: border-box;
}

.container-outside {
  margin: 200px auto auto auto;
  padding-top: 60px;
  padding-bottom: 40px;
  font-family: 'lato', sans-serif;
  color: white;
  background-color: #2687d2;
}

.container-inside {
  max-width: 1000px;
  margin: auto;
}

.row {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.justify-center {
  justify-content: center;
}

.imagebox {
  width: 130px;
  height: 130px;
  background-color: white;
  border-radius: 50%;
  margin: auto;
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 65px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.4rem;
}

p {
  font-size: 1rem;
}

.column-one-third {
  flex-basis: calc(100% / 3);
  text-align: center;
}

.textbox {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.5;
}
