body {
  background-color: #f7f8fa;
}

h1,
h2 {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  margin-top: 40px;
}

.row {
  display: flex;
}

.padding {
  padding-left: 200px;
  padding-right: 200px;
}

.block {
  display: block;
}

.column-full {
  flex-basis: 100%;
}

.column-one-fourth {
  flex-basis: 25%;
}

.justify-center {
  justify-content: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

.text-center {
  text-align: center;
}

img {
  margin: auto;
}

.phone {
  max-width: 300px;
}

.icon {
  max-width: 150px;
}
