.meme {
  width: 300px;
  height: 300px;
  background-image: url('images/one-does-not-simply.jpg');
  background-size: cover;
  position: relative;
}

.meme > img {
  width: 100%;
  z-index: 1;
}

.emoji {
  font-size: 3rem;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 3;
}

.joke {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-family: Anton, sans-serif;
  text-align: center;
  color: white;
  -webkit-text-stroke: 1px black;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  z-index: 4;
}

.overlay {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.75));
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
